.navbar {
    display:flex;
    transition: background-color 1s ease 0s;
    width: 100%;
    font-size: 1.2rem;
  }

  .navbarContainer {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.201) 0px 10px 10px -10px;  }
.menu{
    margin-left: 20px;
    display: inline-flex;
    padding: 10px;
    align-items: center;
}
  .logo {
    margin: 0 20px;
    width: 50px;
}
  .navMenu {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, auto);
    text-align: center;
    grid-gap: 10px;
    list-style: none;
  }

.button {
    margin: 0 10px;
}